!!!
html(lang='#{curr839}')
  head
    meta(charset='utf-8')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")   
    link(rel='stylesheet', type='text/css', href='/styles.css')    
    link(rel="stylesheet", href="/project.css")
    title #{pagetitle}
  body  
    div.container
      div#page
        div#title #{pagetitle}
        div.container#main
          p.intro
            #{dquote}
          section#development
            h3 #{development} 
            h4 #{git}
            p.center
              #{revnum}
            ul
              li #{branch}
            pre#gitdiff
              #{diff}
            h4 #{milestonehead} 
            table#milestones.center
              tr
                th #{milestonename}
                th #{milestoneprog}
                th #{openmilestone}
                th #{closedmilestone}
              each milestone in milestones
                - var width = ((milestone.closed_issues/(milestone.open_issues + milestone.closed_issues))*100) 
                tr(id="milestone"+milestone.number)
                  td
                    a(href="https://github.com/"+repo+"/issues?milestone="+milestone.number)
                    #{milestone.title}
                  td 
                    div.progress(class=milestone.state)
                      div.progress-inner(style="width:"+width+"%")(class=milestone.state)
                        &nbsp;
                      print #{Math.round(width)+"%"}
                  td #{milestone.open_issues}
                  td #{milestone.closed_issues}
             p.center
               a(href="https://github.com/"+repo) #{propaganda}
             h4
              #{credits}
             p.center
               #{thanks}
             ul
               each author in authors
                 li #{author}            
          section#config
             h3 #{config}
             ul
               li #{currlang}
               li #{debugmode}
               each message in configList
                 li #{message}
             h4 #{loadmod}
             ul#modules 
               each module in modules
                 li #{module}
          section#footer
            p
              #{currver}
