!!!
html(lang='#{curr839}')
  head
    meta(charset='utf-8')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")   
    link(rel='stylesheet', type='text/css', href='/styles.css')    
    link(rel="stylesheet", href="/project.css")
    title #{pagetitle}
    script
      $(document).ready(function() {
          $.get("https://api.github.com/repos/#{repo}/pulls", function(data) {
          if ($.parseJSON(data).length) { $("#pullreq").show();}
        }); 
      }); 

  body  
    div.container
      div#page
        div#title #{pagetitle}
        div.container#main
          p.intro
            #{dquote}
          section#git
            h2 #{development} 
            p#pullreq
              a(href="https://github.com/"+repo+"/pulls") #{pullreqs}
            p#revnum
              #{revnum}
            pre#gitdiff
              #{diff}
            p#branch
              #{branch}
            h3 #{milestonehead} 
            table#milestones.center
              tr
                th #{milestonename}
                th #{milestoneprog}
                th #{openmilestone}
                th #{closedmilestone}
              each milestone in milestones
                - var mstone = "milestone"
                - var wd = "width:"
                - var pc = "%"
                - var wdth = ((milestone.closed_issues/(milestone.open_issues + milestone.closed_issues))*100) 
                tr(id="milestone"+milestone.number)
                  td
                    a(href=milestone.url)
                      #{milestone.title}
                  td 
                    div.progress(class=milestone.state)
                      div.progress-inner(style=wd+wdth+pc)(class=milestone.state)
                        &nbsp;
                  td #{milestone.open_issues}
                  td #{milestone.closed_issues}
            h4 #{languagetranshead} 
            table
            a(href="https://github.com/"+repo+"/")
              #{propaganda}
            h3 #{languagetranshead} 
            table#translations
              tr
                th #{languagecurr}
                th #{languagenati}
                th #{languageeng}
                th #{languageprog}
                th #{languagetrans}
              each language in translation
                - var w = ((language.count/translation.en.count)*100)
                tr
                  td #{language.local}
                  td #{language.own}
                  td #{language.english}
                  td.prog
                    unless (language.iso == curr839)
                        div.progress(class="open")
                          div.progress-inner(style="width:"+w+"%")(class="open")
                            &nbsp;
                      else
                        div.progress(class="closed")
                          div.progress-inner(style="width:"+w+"%")(class="closed")
                            &nbsp;
                  td #{language.count} / #{translation.en.count}
            h4 #{credits}
            #{thanks}
            ul#credits
              each author in authors
                li
                  #{author}
          section#config
             h3 #{config}
             ul
               li #{currlang}
               li #{debugmode}
             h4 #{loadmod}
             ul#modules 
               each module in modules
                 li #{module}
          section#footer
            p
              #{currver}
