!!!
html(lang='#{curr839}')
  head
    meta(charset='utf-8')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")   
    link(rel='stylesheet', type='text/css', href='/styles.css')    
    link(rel="stylesheet", href="/project.css")
    script(src="../project.js")
  body  
    div.container
      div#page
        div#title #{pagetitle}
        div.container#main
          p.intro #{dquote}
          section#git
            h2 #{development} 
            p#pullreq
              a(href="https://github.com/"+repo+"/pulls") #{pullreqs}
            p#revnum #{revnum}
            pre#gitdiff #{diff}
            p#branch #{branch}
            h3 #{milestonehead} 
            table#milestones.center
              tr
                th #{milestonename}
                th #{milestoneprog}
                th #{openmilestone}
                th #{closedmilestone}
              each milestone in milestones
                - var wdth = ((milestone.closed_issues/(milestone.open_issues + milestone.closed_issues))*100) 
                tr(id="milestone"+milestone.number)
                  td
                    a(href="https://github.com/"+repo+"/issues?milestone="+milestone.number)
                      #{milestone.title}
                  td 
                    div.progress(class=milestone.state)
                      div.progress-inner(style="width:"+wdth+"%")(class=milestone.state)
                        &nbsp;
                      print #{Math.round(wdth)+"%"}
                  td #{milestone.open_issues}
                  td #{milestone.closed_issues}
            a(href="https://github.com/"+repo+"/")
              #{propaganda}
            h3 #{languagetranshead} 
            table#translations
              tr
                th #{languagecurr}
                th #{languagenati}
                unless (curr839 == "en")
                  th #{languageeng}
                th #{languageprog}
                th #{languagetrans}
              each language in translation
                - var w = ((language.count/translation.en.count)*100)
                tr
                  td #{language.local}
                  td #{language.own}
                  unless (curr839 == "en")
                    td #{language.english}
                  td.prog
                    unless (language.iso == curr839)
                        div.progress(class="open")
                          div.progress-inner(style="width:"+w+"%")(class="open")
                            &nbsp;
                          print #{Math.round(w)+"%"}  
                      else
                        div.progress(class="closed")
                          div.progress-inner(style="width:"+w+"%")(class="closed")
                            &nbsp;
                          print #{Math.round(w)+"%"}
                  td #{language.count} / #{translation.en.count}
            h3 #{credits}
            #{thanks}
            ul#credits
              each author in authors
                li #{author}
          section#config
            h2 #{config}
            ul
              li #{currlang}
              li #{debugmode}
              each config in configList
                li #{config}
            h3 #{loadmod}
            ul#modules 
              each module in modules
                li #{module}
          section#footer
            p
              #{currver}
