extends ../layout

block content
  h2 #{projectstatus} 
  section#git
    h3 Git
    p
      #{revnum}
    h4 #{milestoneprog} 
    table
      tr
        th #{milestonename}
        th #{openmilestone}
        th #{closedmilestone}
      each milestone in milestones
        tr
          td #{milestone.title}
          td #{milestone.open_issues}
          td #{milestone.closed_issues}
  section#config
    h3 #{config}
    ul
      li #{currlang}
      li #{debugmode}
    h4 #{loadmod}
    ul
      each module in modules
        li #{module}
  section#footer
    p
      #{currver}
