extends ../layout

block content
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js")

    script
        $(document).ready(function(){
            // Allowing forcing of string stats data to sort as numeric
            jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                "forcenum-pre": function ( a ) {
                    a = a.replace("\,", "");
                    return parseFloat( a );
                },
             
                "forcenum-asc": function ( a, b ) {
                    return a - b;
                },
             
                "forcenum-desc": function ( a, b ) {
                    return b - a;
                }
            } );

            $('.tip').tooltip();
            $('.data').dataTable({
              "aoColumnDefs": [
                { "sType": "forcenum",
                  "asSorting": [ "desc", "asc" ],
                  "aTargets": [ 1, 2, 3, 4, 5 ] }
              ],
              "bPaginate": false,
              "bFilter": false,
              "bLengthChange": false,
              "oLanguage": {
                "sInfo":  "",
                "sInfoEmpty":  "",
                "sInfoFiltered": ""
              },
            });
        });

    div.page-header.profile_page-header
        h1 
          #{primary}
        small
          if(profile.tagline)
            "#{profile.tagline}"
    div#backlink 
        a(href='/profile/'+connection) &laquo; Profiles
   
    div.row.profile_row#profile_data
      div.span3
        if profile.avatar
          img.profile_avatar.img-polaroid(src="#{profile.avatar}")
        else
          img.profile_avatar.img-polaroid(src="http://placehold.it/270x180&text=Hello,%20World")
      div.span9
        h4 Bio
        p #{profile.bio}
    
    hr
    h3 Channel Statistics
    div#profile_datatable
        table.table.table-hover.data
            thead
                tr
                  th Channel
                  th Lines
                  th Words
                  th Lincent
                  th Verbosity
                  th Mentions
            tbody
              for chan, key in stats
                if stats.hasOwnProperty(key)
                    tr
                      td
                          a(href='/users/'+connection+'/'+encodeURIComponent(key))
                            #{key}
                          span 
                          if chan.online
                            if chan.active.active
                              span.label.label-success.tip(data-original-title="#{chan.active.ago}", data-placement="right") Active
                            else
                              span.label.label-important.tip(data-original-title="#{chan.active.ago}", data-placement="right") Inactive
                          else
                            span.label.tip(data-original-title="#{chan.active.ago}", data-placement="right") Offline
                      td
                          #{chan.fields.lines.data}
                      td
                          #{chan.fields.words.data}
                      td
                          #{chan.fields.lincent.data}
                      td
                          #{chan.fields.wpl.data}
                      td
                          #{chan.fields.in_mentions.data}
