extends ../layout

block content
    div#backlink
        a(href='/') &laquo; Home
    h3 
      a(href='/notify/stream') My Notification Stream 
      &#124; 
      a(href='/notify/missing') My Missed Notifications 
    h3 Browse by Channel on #{server}
    ul#quotelist
        -each count, name in channels 
            a(href='/notify/'+encodeURIComponent(name))
              li.quotes #{name} (#{count})

    h3 Browse by User on #{server}
    ul#quotelist
        -each nUser in users
          a(href='/notify/'+encodeURIComponent(nUser.name))
            li.quotes #{nUser.name} (#{nUser.count})

    h3 Browse by Tag on #{server}
    ul#quotelist
        -each count, tag in tags
          a(href='/notify/'+encodeURIComponent(tag)+'?t=tag')
            li.quotes #{tag} (#{count})
