extends ../layout

block content
    h3 Users of #{channel} on #{connection}
    div#backlink 
        a(href='/channels/'+connection) &laquo; Channel List
    ul#quotelist
      -each nick in nicks
        if nicks.hasOwnProperty(nick.name)
          a(href='/user/'+connection+'/'+channel.substr(1,channel.length)+'/'+nick.name)
            if nick.online
              if nick.active
                li.quotes #{nick.name} (Online, Active) 
              else
                li.quotes #{nick.name} (Online, Inactive)
            else
              li.quotes #{nick.name} (Offline) 
