extends ../layout

block content
    h3 #{user}'s profile
    div#backlink 
        a(href='/users/'+connection+'/'+channel.substr(1,channel.length)) &laquo; #{channel} Nick List

    div.quotecount
      #{cleanUser} is filled with 
      a(href='/quotes/'+cleanUser) #{quotecount} quotes
      .

    div.kickcount
      #{cleanUser} has kicked people #{kicked} times and has been kicked #{kicks} times.
